<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166725160194-sdl3rpjeig2fr7oo526i4nhek7pvt541.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166725160194-sdl3rpjeig2fr7oo526i4nhek7pvt541</string>
	<key>API_KEY</key>
	<string>AIzaSyC0EpaRYmFXAt7KXxYwIq4j__p3B8TcJgw</string>
	<key>GCM_SENDER_ID</key>
	<string>166725160194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noFinishLineApp</string>
	<key>PROJECT_ID</key>
	<string>nofinishline-137fa</string>
	<key>STORAGE_BUCKET</key>
	<string>nofinishline-137fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166725160194:ios:2e770393a3ad6e1761061b</string>
</dict>
</plist>